#body{
    background-color: #f4f4f4;
}

#navbar{
    background-color:lightslategray; 
    margin:0px
}

.link{
    text-decoration: none;
}

#section{
    min-height: 900px;
}

#footer{
    position: inherit;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color:lightslategray;
    padding-top: 20px;
}